<aside class="sidebar-nav-wrapper">
  <div class="navbar-logo">
    <%= link_to(dashboard_path) do %>
      <%= image_tag 'logo.png', alt: 'logo', size: '30x30' %>
    <% end %>
  </div>
  <nav class="sidebar-nav">
    <ul>
      <li class="nav-item nav-item-has-children">
        <%= link_to(dashboard_path, data: { 'bs-target': '#ddmenu_1', 'bs-toggle': 'collapse' },
                    aria: { controls: 'ddmenu_1', expanded: 'false', label: 'Toggle navigation' }) do %>
          <i class='bi bi-house icon'></i>
          <span class="text">Dashboard</span>
        <% end %>
        <ul id="ddmenu_1" class="collapse show dropdown-nav">
          <li>
            <%= link_to(dashboard_path, class: 'active') do %>
              <span class="text">eCommerce</span>
            <% end %>
          </li>
        </ul>
      </li>
      <span class="divider"><hr/></span>
      <li class="nav-item">
        <%= link_to(products_path) do %>
          <i class='bi bi-bucket icon'></i>
          <span class="text">Products</span>
        <% end %>
      </li>
    </ul>
  </nav>
</aside>
<div class="overlay"></div>