<section class="table-components">
  <!-- ========== tables-wrapper start ========== -->
  <div class="tables-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-style mb-30">
          <h6 class="mb-10">Striped Table</h6>
          <div class="table-wrapper table-responsive">
            <table class="table striped-table">
              <thead>
              <tr>
                <th></th>
                <th><h6>Product ID</h6></th>
                <th><h6>Name</h6></th>
                <th><h6>Category ID</h6></th>
                <th><h6>Company ID</h6></th>
                <th><h6>Currency</h6></th>
                <th><h6>Price</h6></th>
                <th><h6>Delete</h6></th>
              </tr>
              </thead>
              <tbody>
              <% @products.each do |product| %>
                <tr>
                  <td>
                    <div class="check-input-primary">
                      <%= check_box_tag 'product_ids[]', product.id, false, class: 'form-check-input', value: 0 %>
                    </div>
                  </td>
                  <td><%= product.id %></td>
                  <td><%= product.name %></td>
                  <td><%= product.category_id %></td>
                  <td><%= product.company_id %></td>
                  <td><%= product.currency %></td>
                  <td><%= product.net_price %></td>
                  <td>
                    <div class="action">
                    <button class="">
                      <i class="bi bi-trash"></i>
                    </button>
                    </div>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>