<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= favicon_link_tag asset_path("/favicon.ico"), type: "image/x-icon" %>
        <title>NormCRM</title>

        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag "devise", media: "all" %>
        <%= javascript_importmap_tags "app" %>
    </head>

    <%= content_tag :body, class:'text-center', data: { action: action_name, controller: controller_name, path: request.path, controller: "toggle" } do %>
        <% yield %>
    <% end %>
</html>
